@import "header";
@import "frontPage";
@import "about";
@import "contact";
@import "footer";
@import "cookies";

@import "mixin";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: $NightSky;
  p {
    font-family: "Roboto Mono", monospace;
    line-height: 1.563rem;
  }
  h1 {
    color: $Pearl;
    font-family: "Fascinate", cursive;
    font-size: 2.25rem;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Domine", serif;
  }
}
