@import "header";
@import "frontPage";
@import "about";
@import "contact";
@import "footer";

@import "mixin";
@import "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: $NightSky;
  p {
    font-family: "Roboto Mono", monospace;
    line-height: 1.563rem;
  }
  h1 {
    color: $Pearl;
    font-family: "Fascinate", cursive;
    font-size: 2.25rem; //3.125 desktop
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Domine", serif;
  }
}

@media all and (min-width: 376px) {
  body {
    background: #0800ff; //Delete
  }
}

@media all and (min-width: 751px) {
  body {
    background: #00ff0d; //Delete
  }
}
