header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #31304e;
  padding: 0.5rem 1.5rem;
}
header .menu {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}
header .menu div {
  width: 100%;
  height: 100%;
  position: relative;
}
header .menu div span {
  background: white;
  width: 100%;
  height: 0.313rem;
  border-radius: 0.313rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s, width 0.5s;
}
header .menu .line-1 {
  transform: translate(-50%, -0.938rem);
}
header .menu .line-3 {
  transform: translate(-50%, 0.625rem);
}
header .openMenu .line-1 {
  transform: translate(-50%, -50%) rotate(-45deg);
}
header .openMenu .line-3 {
  transform: translate(-50%, -50%) rotate(45deg);
}
header .openMenu .line-2 {
  width: 0;
}

.backgroundContainer {
  margin-bottom: 8rem;
}
.backgroundContainer .background {
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: url("../assets/images&symbols/books-background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.backgroundContainer .background .quoteBoxTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 17rem;
  background: #d9d9d9;
  opacity: 0.8;
  border-radius: 0 2.5rem;
}
.backgroundContainer .background .quoteTextTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  padding: 1.4rem;
}
.backgroundContainer .background .quoteTextTop a:hover {
  cursor: pointer;
}
.backgroundContainer .background .acceptChallangeBtn {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  background: #fff175;
  width: 9.375rem;
  height: 3.125rem;
  border: none;
  border-radius: 0.313rem;
  position: absolute;
  top: 112%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backgroundContainer .background .acceptChallangeBtn:hover {
  background: #ffe70f;
  cursor: pointer;
}
.backgroundContainer .background .acceptChallangeBtn:active {
  background: #ffc700;
}
.backgroundContainer .background .acceptChallangeBtn:disabled {
  background: #ff4d00;
}

.aboutPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutPageContainer .aboutPageTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 21rem;
  color: #ffffff;
}
.aboutPageContainer .aboutPageTop h2 {
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.aboutPageContainer .aboutPageTop a:hover {
  cursor: pointer;
}
.aboutPageContainer .quoteBoxContainer {
  margin: 3rem 0;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 15.625rem;
  height: 15.625rem;
  margin-bottom: 3rem;
  padding: 0 1.2rem 0.8rem 0.8rem;
  background: #d9d9d9;
  border-radius: 2.5rem 0;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne .quoteTextOneBtn {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  background: #fff175;
  width: 9.375rem;
  height: 3.125rem;
  border: none;
  border-radius: 0.313rem;
  margin-top: 0.8rem;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne .quoteTextOneBtn:hover {
  background: #ffe70f;
  cursor: pointer;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne .quoteTextOneBtn:active {
  background: #ffc700;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne .quoteTextOneBtn:disabled {
  background: #ff4d00;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 15.625rem;
  height: 15.625rem;
  padding: 0 1.2rem 0.8rem 0.8rem;
  background: #d9d9d9;
  border-radius: 2.5rem 0;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo .quoteTextTwoBtn {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  background: #fff175;
  width: 9.375rem;
  height: 3.125rem;
  border: none;
  border-radius: 0.313rem;
  margin-top: 0.8rem;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo .quoteTextTwoBtn:hover {
  background: #ffe70f;
  cursor: pointer;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo .quoteTextTwoBtn:active {
  background: #ffc700;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo .quoteTextTwoBtn:disabled {
  background: #ff4d00;
}

.contactPageContainer {
  color: #ffffff;
  margin: 0 2rem 0 1rem;
}
.contactPageContainer h2 {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.contactPageContainer .contactInfoContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.contactPageContainer .contactInfoContainer img {
  width: 7rem;
  height: 7rem;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 4rem 1rem 2rem 1rem;
  background: #fff175;
}
footer ::-webkit-input-placeholder {
  font-family: "Roboto Mono", monospace;
  font-size: 0.75rem;
  text-decoration: underline;
}
footer .footerLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
}
footer .footerLeft input {
  margin-top: 0.6rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0 0.625rem;
}
footer .footerLeft .footerBtn {
  font-family: "Roboto Mono", monospace;
  font-size: 0.875rem;
  width: 8rem;
  padding: 0.5rem;
  background: #31304e;
  color: #ffffff;
  border: none;
  border-radius: 0.313rem;
}
footer .footerLeft .footerBtn:hover {
  background: #1c1b4e;
  cursor: pointer;
}
footer .footerLeft .footerBtn:active {
  background: #121047;
}
footer .footerRight {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}
footer .footerRight .fa-facebook {
  color: #000000;
}
footer .footerRight .fa-instagram {
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #31304e;
}
html p,
body p {
  font-family: "Roboto Mono", monospace;
  line-height: 1.563rem;
}
html h1,
body h1 {
  color: #e1e2d1;
  font-family: "Fascinate", cursive;
  font-size: 2.25rem;
}
html h2,
html h3,
html h4,
html h5,
html h6,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Domine", serif;
}

@media all and (min-width: 376px) {
  body {
    background: #0800ff;
  }
}
@media all and (min-width: 751px) {
  body {
    background: #00ff0d;
  }
}/*# sourceMappingURL=style.css.map */