* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #31304e;
}
html p,
body p {
  font-family: "Roboto Mono", monospace;
  line-height: 25px;
}
html h1,
body h1 {
  color: #e1e2d1;
  font-family: "Fascinate", cursive;
  font-size: 2.25rem;
  padding: 0.5rem;
}
html h2,
html h3,
html h4,
html h5,
html h6,
body h2,
body h3,
body h4,
body h5,
body h6 {
  font-family: "Domine", serif;
}

.backgroundContainer {
  margin-bottom: 8rem;
}
.backgroundContainer .background {
  position: relative;
  width: 100%;
  height: 30rem;
  background-image: url("../assets/images&symbols/books-background.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}
.backgroundContainer .background .quoteBoxTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  height: 17rem;
  background: #d9d9d9;
  opacity: 0.8;
  border-radius: 0 40px;
}
.backgroundContainer .background .acceptChallangeBtn {
  font-family: "Roboto Mono", monospace;
  background: #fff175;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 112%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.backgroundContainer .background .quoteTextTop {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 18rem;
  padding: 1.4rem;
}
.backgroundContainer .background .quoteTextTop a:hover {
  cursor: pointer;
}

.aboutPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.aboutPageContainer .aboutPageTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 21rem;
  color: #ffffff;
}
.aboutPageContainer .aboutPageTop h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.aboutPageContainer .aboutPageTop a:hover {
  cursor: pointer;
}
.aboutPageContainer .quoteBoxContainer {
  margin: 3rem 0;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 250px;
  height: 250px;
  margin-bottom: 3rem;
  padding: 0 1.2rem 0.8rem 0.8rem;
  background: #d9d9d9;
  border-radius: 40px 0;
}
.aboutPageContainer .quoteBoxContainer .quoteTextOne .quoteTextOneBtn {
  font-family: "Roboto Mono", monospace;
  background: #fff175;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 0.8rem;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo {
  display: flex;
  justify-content: end;
  flex-direction: column;
  width: 250px;
  height: 250px;
  padding: 0 1.2rem 0.8rem 0.8rem;
  background: #d9d9d9;
  border-radius: 40px 0;
}
.aboutPageContainer .quoteBoxContainer .quoteTextTwo .quoteTextTwoBtn {
  font-family: "Roboto Mono", monospace;
  background: #fff175;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin-top: 0.8rem;
}

@media all and (min-width: 376px) {
  body {
    background: #0800ff;
  }
}
@media all and (min-width: 751px) {
  body {
    background: #00ff0d;
  }
}/*# sourceMappingURL=style.css.map */